1body{
	font-family: 'Lato', sans-serif;

}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.hero-unit{
	display: table;
	width: 100%;
	min-height: 400px;
	height: 60vh;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url("/assets/background.jpg") repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.hero-unit-primary-text{
	text-transform: capitalize;
	font-size: 65px;
	font-weight: 700;
	line-height: 1;
	color: #FFF;
}
.hero-unit-secondary-text{
	font-size: 46px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 35px;
}
@media(max-width: 749px){
	.hero-unit-primary-text{
		font-size: 35px;
	}
	.hero-unit-secondary-text{
		font-size: 18px;
	}
}
.navbar-transparent {
	background-color: transparent;
	position: absolute;
	width: 100%;
}
.navbar-brand {
	color: #FFF;
}
.nav-link{
	color: #FFF !important;
	font-weight: 200;
	font-size: 18px;
}
.navbar-brand {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 200;
	font-size: 14px
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
	color: #fff;
	font-weight: 300
}
.navbar-dark {
	background-color: transparent;
	position: absolute;
	width: 100%
}
.btn-primary-custom{
	border: 2px solid #FFF;
	background-color: transparent;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}
.btn-primary-custom:hover{
	background-color: #fff;
	color: 000;
}
.ribbon{
	padding: 30px 0px;
	background-color: #25292e;

}
.ribbon-text{
	font-size: 32px;
	font-weight: 300;
	color: #FFF;
}
.footer{
	background-color: #f3f3f3;
	text-align: center;
	padding: 15px;
}
