body{
	font-family: 'Lato', sans-serif;

}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.hero-unit{
	display: table;
	width: 100%;
	min-height: 400px;
	height: 60vh;
	background-color: #EEEEEE; 
	background: linear-gradient(rgba(0,0,0,9), rgba(0,0,0,0.9)), url("") repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.hero-unit-primary-text{
	text-transform: capitalize;
	font-size: 65px;
	font-weight: 700;
	line-height: 1;
	color: #FFF;
}
.hero-unit-secondary-text{
	font-size: 46px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 35px;
}
@media(max-width: 749px){
	.hero-unit-primary-text{
		font-size: 35px;
	}
	.hero-unit-secondary-text{
		font-size: 18px;
	}
}
.navbar-transparent {
	background-color: transparent;
	position: absolute;
	width: 100%;
}
.navbar-brand {
	color: #FFF;
}
.nav-link{
	color: #FFF !important;
	font-weight: 200;
	font-size: 18px;
}
.navbar-brand {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 200;
	font-size: 14px
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
	color: #fff;
	font-weight: 300
}
.navbar-dark {
	background-color: transparent;
	position: absolute;
	width: 100%
}
.btn-primary-custom{
	border: 2px solid #FFF;
	background-color: transparent;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}
.btn-primary-custom:hover{
	background-color: #fff;
	color: 000;
}
.ribbon{
	padding: 30px 0px;
	background-color: #25292e;

}

.s-padding{
	padding: 30px 0px;
}
.primary-heading{
	font-size: 28px;
	text-align: center !important;
	font-weight: 700;
	margin-bottom: 10px;
}
.dash-line{
	margin-bottom: 15px;
}
h5{
	font-weight: 700;
}
.p-light{
	font-size: 16px;

}
.btn-custom{
	background: #157EFB;
	padding: 15px 90px;
}

.table-custom td, .table-custom th{
	font-size: 20px;
	color: #157EFB;
	border-radius: 4px;
}
/* HeroUnit JavaScripts */
.container-fluid {
	margin: 0;
	padding: 0;
	max-width: none
}
#peg-grid {
	position: relative;
	background-color: #000;
	width: 100%;
	height: 461px;
	overflow: hidden;
	margin-bottom: 30px
}

#peg-grid-overflow {
	width: 3000px;
	height: 100%
}

.peg {
	width: 49px;
	height: 49px;
	margin: 0;
	padding: 3px;
}

#peg-grid-title {
	position: absolute;
	top: 98px;
	left: 245px;
	width: 490px;
	height: 98px;
	padding-left: 29px;
	padding-top: 20px;
	font-size: 36px;
	font-weight: bold;
	background-color: black;
	color: white
}

#peg-grid-subtitle {
	position: absolute;
	top: 245px;
	left: 245px;
	width: 637px;
	height: 98px;
	padding-left: 29px;
	padding-top: 13px;
	font-size: 22px;
	background-color: black;
	color: white
}

@media (max-width: 767px) {
	#peg-grid-title {
		top: 49px;
		left: 10px;
		width: 245px;
		height: 147px;
		padding-top: 13px;
		line-height: 1.1em;
		padding-left: 21px;
		padding-right: 41px;
	}
	#peg-grid-subtitle {
		top: 245px;
		left: 10px;
		width: 363px;
		height: 147px;
		line-height: 1.1em;
		padding-left: 21px;
		padding-right: 15px;

	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#peg-grid-title {
		top: 98px;
		left: 98px;
		width: 490px;
		height: 98px
	}
	#peg-grid-subtitle {
		top: 245px;
		left: 98px;
		width: 588px;
		height: 98px;
		line-height: 1.1em;

	}
}

.box{
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
	border-radius: 3px;
	background-color: #fff;
	padding: 20px;
}
.box:hover{
	z-index: 1;
	border: none;
	box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
	transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
	transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
	transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}

/*Footer*/
.footer {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:0px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}