<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="title">Learn More</h4>
                <span class="acount-icon">          
                    <a href="#">About HashMap</a>
                    <a href="#">Getting started with HashMap</a>
                    <a href="#">Team</a>
                    <a href="#">Code of Conduct</a>
                </span>
            </div>
            <div class="col-sm-4">
                <h4 class="title">Get Involved</h4>
                <span class="acount-icon">          
                    <a href="#">Join a Group</a>
                    <a href="#">Contribute to HashMap</a>
                    <a href="#">Mail Us</a>
                    <a href="#">Carrers</a>
                </span>
            </div>
            <div class="col-sm-4">
                <h4 class="title">Follow Us</h4>
                <span class="acount-icon">          
                    <a href="#">Github</a>
                    <a href="#">Twitter</a>
                    <a href="#">Mailing List</a>
                </span>
            </div> 
        </div>
        <hr>
    </div>
</footer>